{% extends "layout.html" %}

{% block titulo %}
    Iniciar Sesión
    
{%endblock%}

{% block body%}
    <body>
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    
                    <form id="loginform">
                        
                        <div align="center"><img src="https://i.ibb.co/vvLhyG4/35.png"  style="width:168px "></div>
                        <br>
                        <br>
                        <input type="text" name="usuario" placeholder="Usuario" required>

                        <input type="password" placeholder="Contraseña" name="password" required>

                        <button type="submit" title="Ingresar" name="Ingresar">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
</body>
{%endblock%}