{% extends "layout.html" %}

{% block titulo %}
    Facturación
    
{%endblock%}

{% block body%}
    <body>
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    <div class="titulo">
                        Bienvenido
                    </div>
                    <form id="loginform">
                        <input type="text" name="usuario" placeholder="Usuario" required>

                        <input type="password" placeholder="Contraseña" name="password" required>

                        <button type="submit" title="Ingresar" name="Ingresar">Login</button>
                    </form>
                </div>
            </div>
        </div>
</body>
{%endblock%}