{% extends "layout1.html" %}

{% block titulo %}
    Registro
    
{%endblock%}

{% block body%}
    <body class="body1">
    <form  class="form" action="">
        <h1>Registro Usuario</h1>
        <div class="registro1">
            <label for="nombre">Nombre Y Apellido</label>
            <input type="text" class="form-control" name="nombre" id="nombre"> 
        </div>
        <div class="registro1">
            <label for="usuario">Usuario</label>
            <input type="text" class="form-control" name="usuario" id="usuario"> 
        </div>
        <div class="registro1">
            <label for="usuario">Correo</label>
            <input type="email" class="form-control" name="email" id="email"> 
        </div>
        <div class="registro1"> 
            <label for="usuario">Contraseña</label>
            <input type="password" class="form-control" name="contraseña" id="contraseña"> 
        </div>
        <div class="registro1">
            <label for="usuario">Contraseña</label>
            <input type="password" class="form-control" name="contraseña" id="contraseña"> 
        </div>
        <div class="boton1">
            <button id="boton_form" class="btn btn-outline-primary mt-3" type="submit"><i class="fa-solid fa-paper-plane"></i> REGISTRAR </button>

        </div>

    </form>
    </body>
    

{%endblock%}